<h1>Contributors</h1>

<table>
  
  
  <% @writers.each do |writer| %>
  <tr>
    <td><%= writer.name %></td>

    <td><%= link_to 'Show', writer_path(writer) %></td>

    <% if current_writer && current_writer[:id] == writer.id %>

      <td><%= link_to 'Edit/Destroy', edit_writer_registration_path(writer) %></td>
      
    <% end %>
  </tr>
  <% end %>
</table>